.container {
  width: 1200px;
  margin-top: 40px;
  margin-left: 100px;
}
.title {
  font-size: 38px;
}
.contacts_container {
  border: 1px solid rgb(182, 182, 182);
  width: 520px;
  padding: 10px;
}
.contact_title {
  font-size: 28px;
  margin-bottom: 10px;
}
